<% if @dogs.any? %>
  <% @dogs.each do |dog| %>
    <div>
      Dog#<%= dog.id %> <%= dog.name %> <%= link_to "View Dog", dog_path(dog.id) %>
    </div>
  <% end %>
<% else %>
    <h3>No dogs to display!</h3>
<% end %>
