<% if @dogs.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Breed</th>
      </tr>
    </thead>
    <tbody>
      <% @dogs.each do |dog| %>
        <tr>
          <td><%= dog.name %></td>
          <td><%= dog.age %></td>
          <td><%= dog.weight %></td>
          <td><%= dog.breed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
    <h3>No dogs to display!</h3>
<% end %>
