<ul style="display:flex; gap: 20px; list-style-type: none; margin: 0px; margin-bottom: 10px; padding: 0px;">
  <li><%= link_to "Home", dogs_path %></li>
  <li><%= link_to "New Dog", new_dog_path %></li>
</ul>
